body {
  font-family: Helvetica;
  font-size: 18px;
}

div {
  display: block;
}

.logo {
  background: black;
  color: white;

}

.logo .container {
  display: flex;
    align-items: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;

}

.logo img {
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.logo .container {
  display: flex;
  align-items: center;
  padding: 12px 0 12px 0.5em;
}

/*.container span {
  margin-top: 0.66rem;
  margin-bottom: 0.66rem;
  margin-left: 1rem;
  font-size: 1rem;
}*/

.main-banner {
  background-image: url('../../images/moto.jpeg');
  background-size: cover;
  height: 25rem;
}

.main-banner-text {
  top: 9rem;
  position: relative;
  width: 20rem;
  padding: 2rem 3rem;
  color: white;
  background-color: black;
}

.main-banner-text h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}

.main-banner-text h4 {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  font-size: 1rem;
  font-weight: bold;
}

nav {
  background-color: firebrick;
}

nav .container {
  color: white;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;

}

.mobile-nav {
  display: none; /*used to hide the mobile navigation menu until the screen gets
  too small to show the normal menu */
}

.product-grid {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}

.product {
  width: 30%;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.product-image {
  border: solid 4px black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  height: 9em;

}


.product-image img{
  max-width: 8em;


}

.description {
  display: block;
  color: white;
  background-color: black;
  text-align: center;
  padding: 0.5rem;
}

.information {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;

}

.info {
  width: 35%;
}

.title {
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  display: block;
}

footer {
  margin-top: 4rem;
  padding: 5em;
  background-color: black;
  color: white;
}

@media only screen and (max-width: 1024px) {
  body {
    font-size: 16px;
  }

  nav .container {
    display: none;
  }

  nav .mobile-nav {
    display: block;
    text-align: center;
  }

  .product.glasses {
    display: none;
  }
  .product {
    width: 47%;
  }
}

@media only screen and (max-width: 480px) {
  body {

  }

  .main-banner {
    height: 15rem;
  }

  .main-banner-text h1 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0;
  }

  .main-banner-text h4 {
    font-size: 0.77rem;
    font-weight: bold;
    margin-top: 0;
  }


  .product-grid {
    justify-content: center;
  }

  .product {
    width: 90%;
  }

  .product.watch {
    display: none;
  }

  .main-banner-text {
    width: 100%;
    top: 10rem;
    position: relative;
    padding: 1rem 2rem;

  }

  .information {
    flex-direction: column;
    align-items: center;
  }

  .info {
    margin-top: 0.5rem;
    width: 90%;
  }

  footer {
    text-align: center;
  }
}
